/**This applies styles for Footer*/
.inno{
    color:#ff471a;
}
.info{
    padding-left:10px;
}
.minds{
    color:#ff8000;
}
.footer{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-top:210px;
}
.copyrights{
    margin-top:-12px;
}
.email{
    line-height: 1;
    margin-top:-12px;
    margin-bottom: 0px;
}
.ribbon{
   height:9vw;
    width:40vw;
    position: relative;
}
.textonimg{
    position: absolute;
    top:4vw;
    left:23vw;
    color:white;
}