/**This applies Styles for displaying all raves*/
.ravetable tr:nth-child(even){background-color: #f2f2f2}


span{
  font-size:15px;
}
a{
text-decoration:none; 
color: #0062cc;

}
.box{
  padding:60px 0px;
}

.box-part{
  background:#FFF;
  border-radius:0;
  padding:60px 10px;
  margin:30px 0px;
}
.text{
  margin:20px 0px;
  
}
p{
  line-height:30px;
}

.fa{
   color:#4183D7;
}