/**This applies styles for side Navigation*/
.greater{
    border-radius: 50%;
    background-color: grey;
    border:1px solid white;
    font-size: 15px;
    margin-right:10px;
}
.link{
    color:black;
    text-decoration: none;
}
.link:hover{
    color:black;
    text-decoration: none;
}
.list{
    background-color: #d4d8dd;
    border-radius: 20px;
    padding-top:10px;
    padding-bottom: 10px;
    line-height:1;
    font-size:14px;
    font-family: sans-serif;
    padding-left:10px;
    margin-top:5px;
}
/* .sidenav{
    background-color:#99ebff;
} */
.text-left{
    padding:10px
}
.disable{
    display:none;
}
.options{
    list-style-type: none;
    background-color: #d4d8dd;
    padding-top:10px;
    padding-bottom: 10px;
    line-height:1;
    padding-left:10px;
}
.opt{
    margin-top:-14px;
}